/webodf/tests/simple_slide.odp
#android/bin
#android/gen
nativeQtClient/nativeQtClient.pro.user
programs/firefoxextension/content/web/viewer.html
programs/firefoxextension/install.rdf
programs/ios/WebODF.xcodeproj/project.xcworkspace
programs/ios/WebODF.xcodeproj/xcuserdata
programs/ios/www/ZoomIn.png
programs/ios/www/ZoomOut.png
programs/ios/www/app/
programs/ios/www/sencha-touch.css
programs/ios/www/sencha-touch.js
programs/ios/www/webodf.js
.DS_Store
webodf/webodf.css.js
build
*.sw?
.idea
node_modules/.bin/
node_modules/requirejs/
webodf/coverage/
node_modules/karma-chrome-launcher/
node_modules/karma-coffee-preprocessor/
node_modules/karma-coverage/
node_modules/karma-firefox-launcher/
node_modules/karma-html2js-preprocessor/
node_modules/karma-jasmine/
node_modules/karma-junit-reporter/
node_modules/karma-phantomjs-launcher/
node_modules/karma-requirejs/
node_modules/karma-script-launcher/
node_modules/karma/
fontFaceDeclsTest.odt
test.odt
simple.odt
simpleFrame.odt
webodf/tests/*.odt
webodf/tests/odf/newloadsave.odt
