html, body, #mainContainer {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    font-size: 10pt;
    padding: 0px;
}

#mainContainer {
    background-color: gray;
}

#editor *:focus {
    outline: none;
}

#editor {
    border: none;
    box-shadow: 0px 0px 14px #555;
    overflow: hidden;
    padding: 0px !important;
    z-index: 4;
}

#toolbar {
    overflow: hidden;
}

#container {
    text-align: center;
    background-color: #ddd;
    overflow: auto;

    position: absolute;
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
}

#canvas {
    box-shadow: 0px 0px 20px #aaa;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;

    transform-origin: top center;
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -o-transform-origin: top center;
    overflow: hidden;

    border: 1px solid #ccc;
}

#collaboration {
    width: 20%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    box-shadow: 0 0 3px #888;

    border: none;
}

#collaboration > .dojoxExpandoTitle {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: none;
    background-color: rgb(243, 243, 243);
}

#collaboration > .dojoxExpandoWrapper {
    width: 100%;
    background-color: rgb(243, 243, 243);
    border: 1px solid #769DC0;
    border: none;

}

#members {
    width: 70px;  
    padding: 2px;
    text-align: center;
    background-color: gray;
    border: none;
}

#inviteButton {
    display: none;

    color: white;
    margin-top: 5px;
    padding: 3px;
    word-wrap: break-word;
    text-align: center justify;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    text-align: center;
    background-color: black;
    box-shadow: 0px 0px 5px rgb(90, 90, 90);
    border: 1px solid black;
    cursor: pointer;
}
#inviteButton:hover {
    color: yellow;
    box-shadow: 0px 0px 5px red;
}
#inviteButton:active {
    box-shadow: 0px 0px 15px red;
}

#members > #nameInfo {
    padding-top: 3px;
    padding-bottom: 3px;
    width: 100%;
    background-color: #eef;
}

#memberList .memberListButton {
    margin-top: 5px;
    padding-top: 3px;
    margin-left: auto;
    margin-right: auto;
    width: 68px;
    border-radius: 5px;
    text-align: center;
    background-color: black;
    box-shadow: 0px 0px 5px rgb(90, 90, 90);
    border: 1px solid black;
    cursor: pointer;
}

#memberList .memberListLabel {
    color: white;
    border-radius: 5px;
    padding: 2px;
    font-size: 8pt;
    word-wrap: break-word;
    text-align: center justify;
}
div.memberListLabel[fullname]:before {
    content: attr(fullname) "";
}

#memberList img {
    box-shadow: 0px 0px 5px rgb(90, 90, 90) inset;
    background-color: rgb(200, 200, 200);
    border-radius: 5px;
    border: 2px solid;
    height: 60px;
    width: 60px;
    display: block;
    margin: auto;
}

#memberList img:hover {
    opacity: 0.9;
}

.dijitDialog {
    border: none !important;
    box-shadow: 0 1px 50px rgba(0, 0, 0, 0.25) !important;
    -moz-box-shadow: 0 1px 50px rgba(0, 0, 0, 0.25) !important;
    -o-box-shadow: 0 1px 50px rgba(0, 0, 0, 0.25) !important;
    -webkit-box-shadow: 0 1px 50px rgba(0, 0, 0, 0.25) !important;
    -ms-box-shadow: 0 1px 50px rgba(0, 0, 0, 0.25) !important;
}

.dijitDialogTitle {
    color: #333 !important;
    font-size: 14pt !important;
}

.dijitDialogPaneContent {
    border: none !important;
    overflow: hidden !important;
    height: 510px !important;
    width: 450px !important;
}

.dijitDialogPaneContent h3 {
    font-weight: normal;
    color: #333;
    font-size: 12pt;
    padding: 0px;
    width: 80%;
    border-bottom: 1px solid #eee;
}

.dijitTabPaneWrapper {
    border: none !important;
}
.dijitDialogTitleBar {
    border: none !important;
    background-color: #fff !important;
}

.dijitDialogPaneActionBar {
    margin: 0 !important;
}

.dijitDialogUnderlay {
    background: radial-gradient(center, transparent, #333) !important;
    background: -webkit-radial-gradient(center, transparent , #333) !important;
    background: -moz-radial-gradient(center, transparent , #333) !important;
    background: -o-radial-gradient(center, transparent , #333) !important;
    background: -ms-radial-gradient(center, transparent , #333) !important;
}

.labeledSelect > table {
    margin-left: 10px;
}

.dijitSpinner {
    width: 50px !important;
}

.dijitRadio {
    margin-top: 3px !important;
    margin-bottom: 3px !important;
}

.dijitCheckBox {
    margin-top: 3px !important;
    margin-bottom: 7px !important;
}
.dojoxColorPicker {
    background-color: transparent !important;
    border: none !important;
}

.dialogPreviewBox {
    height: 100px;
    width: 100%;
    border: 1px solid gray;
    background-color: white;
    text-align: center;
}

cursor div {
    margin-top: 5px;
    padding-top: 3px;
    margin-left: auto;
    margin-right: auto;
    width: 64px !important;
    height: 68px !important;
    border-radius: 5px;
    text-align: center;
    background-color: black !important;
    box-shadow: 0px 0px 5px rgb(90, 90, 90);
    border: 1px solid black;

    top: -85px !important;
    left: -34px !important;
}

cursor img {
    box-shadow: 0px 0px 5px rgb(90, 90, 90) inset;
    background-color: rgb(200, 200, 200);
    border-radius: 5px;
    border: 2px solid;
    height: 60px !important;
    width: 60px !important;
    display: block;
    margin: auto;
}

cursor div.active {
    opacity: 0.8;
}

cursor div:after {
    content: ' ';
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 8.7px 5px 0 5px;
    border-color: black transparent transparent transparent;

    top: 100%;
    left: 43%;
}

