html, body, #mainContainer {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    font-size: 10pt;

    padding-top: 0px;
}

#topPane {
    border: none;
    box-shadow: 0px 0px 3px #888;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#topPane > h1 > a {
    font-size: 25px;
    font-family: sans-serif;
    font-weight: normal;
    color: gray;
}

#editor {
    border: none;
    box-shadow: 0px 0px 3px #888;
    overflow: hidden;
    padding: 0px !important;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

#toolbar {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#container {
    text-align: center;
    background-color: #FAFAFA;
    height: 95%;
    overflow: auto;
}

#canvas {
    box-shadow: 0px 0px 20px #aaa;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;

    transform-origin: top center;
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -o-transform-origin: top center;

    height: 100%;
}

#collaboration {
    width: 20%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    box-shadow: 0 0 3px #888;

    border: none;
}

#collaboration > .dojoxExpandoTitle {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: none;
}

#collaboration > .dojoxExpandoWrapper {
    width: 100%;
    background-color: #E6E6E7;
    border: 1px solid #769DC0;
    border: none;

}

#people {
    height: 30%;
    padding: 0px;
    text-align: center;
}

#people > #nameInfo {
    padding-top: 3px;
    padding-bottom: 3px;
    width: 100%;
    background-color: #eef;
}

#chat {
    padding: 0px;
    text-align: center;
    position: relative;
}

#chat > #inputArea {
    padding-top: 3px;
    padding-bottom: 3px;
    width: 100%;
    background-color: #eee;
    position: absolute;
    bottom: 0px;
}

#inputArea > #widget_chatInput {
    width: 95%;
    border-radius: 10px;
    padding: 3px;
    box-shadow: inset 0 0 1px #888;
}