#editor {

    position: absolute;

    top: 100px;
    margin-left: 30px;
    width: 70%;
    bottom: 20px;
    box-shadow: 0px 0px 1px black;

    overflow: hidden;
}

#container { 

    text-align: center;
    bottom: 0px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    overflow: auto;
    background-color: #eee;
}

#canvas {
    
    zoom: 80%;
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    
    transform-origin: top left;
    -moz-transform-origin: top left;
    -webkit-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;

    box-shadow: 0px 0px 15px #ccc;

    margin-top: 30px;
    margin-bottom: 30px;
}
