body {
    font-family: "Bitstream Vera Sans", helvetica;
    background: white;
    background-image: url(footer1.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    min-height: 471px;
}
h1, h2, h3, h4, p {
    max-width: 40em;
}
h1, h2, h3, h4 {
    color: #2850a0;
}
h1 {
    font-size: 400%;
}
body {
    text-align: center;
}
div.body {
    position: relative;
    left: auto;
    right: auto;
}
div.logo, div.main {
    display: table-cell;
    vertical-align: top;
    padding-right: 1em;
}
div.links {
    float: right;
    text-align: right;
}
div.links ul {
    list-style-type: none;
}
div.links ul a {
    text-decoration: none;
}
div.main {
    text-align: left;
    max-width: 40em;
    background: #dde0f4;
    padding-left: 3em;
    padding-right: 3em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    -webkit-border-radius: 1em;
}
a {
    text-decoration: none;
    color: #2850a0;
}
img {
    max-width: 100%;
}
p.newsdate {
    float: right;
}
